.travis.yml
*.o
*~
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
config.log
INSTALL
Makefile.in
Makefile
README
config.h.in
config.h
config.status
*/Makefile.in
*/Makefile
doc/freeture.1
src/.deps/
stamp-h1
src/freeture


